/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f7f9fc;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  color: #444;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;
}

p {
  margin-bottom: 20px;
}

small {
  display: block;
  margin-bottom: 10px;
  color: #888;
}

a {
  text-decoration: none;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

button,
a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.full-width {
  display: block;
  width: 100%;
  text-align: center;
}

a:hover,
button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 20px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9); /* Light, semi-transparent background */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-actions {
  margin-top: 10px;
}

a.edit {
  background-color: #007bff;
  margin-right: 10px;
}

a.delete {
  background-color: #e74c3c;
}

a.delete:hover {
  background-color: #c0392b;
}

#newPostBtn {
  background-color: #2ecc71;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #27ae60;
}
